* {
    font-size: large;
}

body
{
    background-color: black !important;
}

td.clubrow
{
    color: white;
    box-shadow: none;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}